@model IEnumerable<EManager.Application.SystemCommand.Queries.DailyReportVM>;
@{
    ViewData["Title"] = "DailyReport";
}

<h1>DTR DAILY REPORT</h1>

@{
    foreach (var item in Model)
    {
        
        <p style="color:dodgerblue"> @item.Firstname  @item.Lastname @item.TimeIn @item.TimeOut  </p> <br>
    }


}