@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">UNIWALLET SERVICES CORP.</h1>

        <br>
        <br>      
        <button type="submit" id="btnDtr">DAILY TIME RECORD</button>
           
    </div>



@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnDtr').on('click', function () {

                window.location = "/Home/LogIn";

            });
        });


    </script>
}
