@model EManager.Application.SystemCommand.Queries.UserVM;
@{
    ViewData["Title"] = "RegisterEmployee";
}

        <br>    
        <h1>REGISTER</h1><br>
        <div class="row">
            <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
    
                <div class="form-group">
                    <label class="control-label">FIRST NAME</label>
                    <input id="txtFirstname" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">LAST NAME</label>
                    <input id="txtLastname" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">ADDRESS</label>
                    <input id="txtAddress" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">USERNAME</label>
                    <input id="txtUsername" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">PASSWORD</label>
                    <input id="txtPassword" type="password" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">CONFIRM PASSWORD</label>
                    <input id="txtPassCon" type="password" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="btnRegister" value="SUBMIT" class="btn btn-primary" />
                </div>

            </div>

        </div>
  


@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnRegister').on('click', function () {

                var _pass = $('#txtPassword').val();
                var _conf = $('#txtPassCon').val();

                if (_pass != _conf) {
                    alert("Passwords do not match.");
                }


                else {
                    var _firstname = $('#txtFirstname').val();
                    var _midname = $('#txtMidname').val();
                    var _lastname = $('#txtLastname').val();
                    var _address = $('#txtAddress').val();
                    var _username = $('#txtUsername').val();
                    var _password = $('#txtPassword').val();


                    var _employee =
                    {
                        firstname: _firstname,
                        middlename: _midname,
                        lastname: _lastname,
                        address: _address,
                        username: _username,
                        password: _password
                    };

                    $.post('/Home/RegisterEmployee', { employee: _employee }).done(RedirectToProfile);

                }
            });
        });


        function RedirectToProfile(reply) {
            if (reply == true) {
                alert("EMPLOYEE ADDED");
                window.location = "/Home/LogIn";
            }

            else {

                alert("INCOMPLETE");
            }
        }

    </script>
}

