@model EManager.Application.SystemCommand.Queries.UserVM;

@{
    ViewData["Title"] = "TimeRecord";
}
    <div class="text-center">
        <h1>DAILY TIME RECORD</h1>

        @{
            <br> <h2>EMPLOYEE</h2><br>
            <p style="color:dodgerblue">@Model.Lastname , @Model.Firstname  </p> <br>
        }


        @{if (Model.Role == EManager.Domain.Enums.UserRole.Admin)
            {
                <button type="submit" id="btnAddEmployee">ADD EMPLOYEE</button>


                if (Model.LogType == EManager.Application.SystemCommand.Queries.LogType.TimeIn)
                {
                    <button type="submit" id="btnTimeIn">TIME IN</button>

                }
                else if (Model.LogType == EManager.Application.SystemCommand.Queries.LogType.TimeOut)
                {

                    <button type="submit" id="btnTimeOut">TIME OUT</button>
                }
                else
                {
                    <p>ALL GOOD FOR TODAY 😁</p>
                }
            }
            else
            {

                if (Model.LogType == EManager.Application.SystemCommand.Queries.LogType.TimeIn)
                {
                    <button type="submit" id="btnTimeIn">TIME IN</button>
                }
                else if (Model.LogType == EManager.Application.SystemCommand.Queries.LogType.TimeOut)
                {
                    <button type="submit" id="btnTimeOut">TIME OUT</button>
                }
                else
                {
                     <p>ALL GOOD FOR TODAY 😁</p>
                }

            }
        }

    </div>


    @section Scripts {

        <script>

            $('document').ready(function () {
                $('#btnTimeIn').on('click', function () {
                    $.post('/Home/TimeIn', {}).done();
                    alert("TIME IN RECORDED");
                    window.location = "/Home/LogIn";

                });
            });

            $('document').ready(function () {
                $('#btnTimeOut').on('click', function () {
                    $.post('/Home/TimeOut', {}).done();
                    alert("TIME OUT RECORDED");
                    window.location = "/Home/LogIn";

                });
            });

            $().ready(function () {
                $('#btnAddEmployee').on('click', function () {
                    $.post('Home/RegisterEmpoloyee', {}).done();
                    window.location = "/Home/RegisterEmployee";
                })


            });


        </script>
    }
